<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foodstyle.css') }}">
    
</head>
<body>
    <h1 style = "background-color:blue;">Hello from html!</h1>
    <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Crayons</td>
          <td>$5.00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Ice Cream</td>
          <td>$1.00</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Golden Ossetra Caviar</td>
          <td>$35.00</td>
        </tr>
      </table>
    
</body>
</html>